body {
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "noto sans","open sans", Geneva, sans-serif;
    width: 800px;
    margin: 0 auto;
    background-color: antiquewhite;
    color: rgb(56, 54, 54);
    font-size: 17px;
}

.recipe-list li {
    margin: 20px auto;
    width: 100px;
}

h1 {
    text-align: center;
    font-family: "gen jyuu gothic";
}

a {
    text-decoration: none;
    color: rgb(56, 54, 54);
}

.back {
    display: block;
    padding: 30px;
    margin-bottom: 100px;
    color: rgb(107, 95, 95);
}

.recipe-image img {
    display: block;
    margin: 0 auto;
}